---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tracearr
  namespace: tracearr
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.68
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false    
    TZ: Europe/Brussels
    resources:
      requests:
        cpu: 10m
    image:
      repository: ghcr.io/connorgallopo/tracearr
      pullPolicy: IfNotPresent
      tag: 1.4.5@sha256:71cd7e16b2cd783f9a545bc3869087a6ecc38ebb9a17e3cc66e32ae911be488c    
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-tracearr"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"  
    securityContext:
      container:
        runAsNonRoot: false
        readOnlyRootFilesystem: false
        runAsUser: 0
        runAsGroup: 0
    service:
      main:
        ports:
          main:
            port: 3000
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                PORT: "{{ .Values.service.main.ports.main.port }}"
                HOST: 0.0.0.0
                DATABASE_URL:
                  secretKeyRef:
                    name: cnpg-main-urls
                    key: std
                DB_PASSWORD:
                  secretKeyRef:
                    name: cnpg-main-user
                    key: password
                REDIS_URL:
                  secretKeyRef:
                    expandObjectName: false
                    name: '{{ printf "%s-%s" .Release.Name "rediscreds" }}'
                    key: url
                JWT_SECRET: "${TRACEARR_JWT_SECRET}"
                COOKIE_SECRET: "${TRACEARR_COOKIE_SECRET}"
                CORS_ORIGIN: "{{ .Values.chartContext.appUrl }}"
    ingress:
        main:
          enabled: true
          ingressClassName: internal
          integrations:
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
            nginx:
              enabled: true
          hosts:
            - host: tracearr.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix   
    cnpg:
      main:
        enabled: true
        user: tracearr
        database: tracearr
        #mode: recovery
        cluster:
          singleNode: true
        backups:
          enabled: true
          credentials: s3
          scheduledBackups:
            - name: daily-backup
              schedule: "30 3 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
          #revision: "0"
          retentionPolicy: "7d"
        recovery:
          method: object_store
          credentials: s3
          #revision: "0"  

    redis:
      enabled: true